<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/frontEnd :: head(~{::title}, ~{::links})"></head>
    <body >
        <header th:replace="layout/frontEnd :: header"></header>
        <main class="container-fluid">

            
            <table id="candidatos" class="table table-striped mt-3" >
                <thead>
                    <a class="btn btn-outline-primary" th:href="@{/candidatos}">Descargar base</a>
                    <tr>
                        <th>Id: </th>
                        <th>Nombre: </th>
                        <th>Correo: </th>
                        <th>Numero de contacto: </th>
                        <th>Tipo de documento: </th>
                        <th>Numero de documento: </th>
                        <th>Fecha de expedicion: </th>
                        <th>Wave: </th>
                        <th>Estado: </th>
                        <th>Archivos: </th>
                        <th>Assistant: </th>
                        <th>Acciones: </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${listaCandidatos == null}">
                        <td colspan="8">No hay candidatos</td>
                    </tr>
                    <tr th:each="lista : ${listaCandidatos}">
                        <td th:text="${lista.id}"></td>
                        <td th:text="${lista.nombre}"></td>
                        <td th:text="${lista.correo}"></td>
                        <td th:text="${lista.contacto}"></td>
                        <td th:text="${lista.tipoDoc}"></td>
                        <td th:text="${lista.doc}"></td>
                        <td th:text="${lista.fechaExpedicion}"></td>
                        <td th:text="${lista.wave}"></td>
                        <td th:text="${lista.estado == true || lista.estado == null ? 'Activo' : 'Inactivo'}"></td>

                        <td>
                            <span th:if="${lista.archivos == null}">No hay archivos seleccionados</span>
                            <span th:if="${lista.archivos != null}">
                                <ul>
                                    <li th:each="archivo : ${lista.archivos}" th:text="${archivo.fileName}"></li>
                                </ul>
                            </span>
                        </td>
                        <td>
                            <span th:if="${lista.equipo == null}">No hay asistentes asignados</span>
                            <span th:if="${lista.equipo != null}">
                                <ul>
                                    <li th:each="equipo : ${lista.equipo}" th:text="${equipo.usuario}"></li>
                                </ul>
                            </span>
                        </td>
                        <td>
                            <hr>

                                <a th:href="@{/listaCandidatos/{nombreCandidato}/descargar-archivos(nombreCandidato=${lista.nombre})}" class="btn btn-primary">Descargar Archivos</a>
                                <a href="#" class="btn btn-danger" th:data-id="${lista.id}" onclick="eliminar(this)" >Eliminar candidato</a>
                                <a href="#" class="btn btn-warning" th:data-id="${lista.id}" onclick="cambiarEstado(this)">Cambiar estado</a>
                                <a th:href="@{/formularios/editarCandidato/{id}(id=${lista.id})}" class="btn btn-success">Editar candidato</a>
                                

                                <hr>
                                    </td>
                                    </tr>
                                    </tbody>
                                    </table>
            


                                    </main>


                                    <footer th:replace="layout/frontEnd :: footer"></footer>

                                    <div th:replace="layout/frontEnd :: scripts">

                                    </div>
                                    <script th:inline="javascript">
                                        function cambiarEstado(element) {
                                            var id = element.getAttribute("data-id");

                                            // Aquí llamas a tu endpoint para cambiar el estado
                                            // Puedes usar Fetch API o AJAX según tu necesidad
                                            fetch(`/cambiarEstado/${id}`)
                                                    .then(response => {
                                                        if (response.ok) {
                                                            return response.json(); // Asegúrate de que tu backend devuelve un JSON
                                                        } else {
                                                            throw new Error('Error al cambiar estado');
                                                        }
                                                    })
                                                    .then(data => {
                                                        var estado = data.clase; // Suponiendo que el servidor devuelve el estado
                                                        var mensaje = data.mensaje; // Mensaje del servidor

                                                        if (estado === 'success') {
                                                            Swal.fire({
                                                                icon: "success",
                                                                title: "Éxito",
                                                                text: mensaje
                                                            });
                                                            location.reload();
                                                        } else {
                                                            Swal.fire({
                                                                icon: "error",
                                                                title: "Error",
                                                                text: mensaje
                                                            });
                                                        }
                                                    })
                                                    .catch(error => {
                                                        console.error('Error:', error);
                                                    });
                                        }
                                        function eliminar(element) {
                                            var id = element.getAttribute("data-id");

                                            // Aquí llamas a tu endpoint para cambiar el estado
                                            // Puedes usar Fetch API o AJAX según tu necesidad
                                            fetch(`/eliminarCandidato/${id}`)
                                                    .then(response => {
                                                        if (response.ok) {
                                                            return response.json(); // Asegúrate de que tu backend devuelve un JSON
                                                        } else {
                                                            throw new Error('Error al eliminar');
                                                        }
                                                    })
                                                    .then(data => {
                                                        var estado = data.clase; // Suponiendo que el servidor devuelve el estado
                                                        var mensaje = data.mensaje; // Mensaje del servidor

                                                        if (estado === 'success') {
                                                            Swal.fire({
                                                                icon: "success",
                                                                title: "Éxito",
                                                                text: mensaje
                                                            });
                                                             location.reload();
                                                        } else {
                                                            Swal.fire({
                                                                icon: "error",
                                                                title: "Error",
                                                                text: mensaje
                                                            });
                                                        }
                                                    })
                                                    .catch(error => {
                                                        console.error('Error:', error);
                                                    });
                                        }


                                        $(document).ready(function () {
                                            $('#candidatos').DataTable();
                                        });
                                        





                                    </script>



                                    </body>
                                    </html>
