<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/frontEnd :: head(~{::title}, ~{::links})"></head>
    <body>
        <header th:replace="layout/frontEnd :: header"></header>
        <main>
                <table border="2" width="1" cellspacing="1" cellpadding="1">
                    <thead>
                        <tr>
                            <th>Id: </th>
                            <th>Nombre: </th>
                            <th>Correo: </th>
                            <th>Numero de contacto: </th>
                            <th>Archivos: </th>
                            <th>Assistant: </th>
                            <th>Acciones: </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                        </tr>
                        
                    </tbody>
                </table>

          
            
        </main>
        
        <footer th:replace="layout/frontEnd :: footer"></footer>
        <div th:replace="layout/frontEnd :: srcipts"></div>


    </body>
</html>
